body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  color: #eee;
  background-color: #333;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-colors;
}

.bounce {
  animation: bounce 12s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px) rotate(8deg);
  }
  100% {
    transform: translateY(0);
  }
}
