:root {
  --height: 90vh;
}

#santana > article {
    padding:0;
}

#santana-object {
  max-height: var(--height);
  min-height: var(--height);
  cursor: pointer;
}

#santana-app {
  position: relative;
  width: min-content;
  height: min-content;
  cursor: pointer;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease;
  max-height: 100%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

#overlay article {
  font-family: 'Noto sans', sans-serif;
  padding: 2em;
}

#overlay.open {
  display: block;
  opacity: 1;
}

.sanskrt, .sanskrit {
    font-weight: 500;
    font-size: 2em;
    margin: 12px 0;
    line-height: 1.42;
    font-family: 'Mukta';
}

.transcript {
    font-size: 1.2em;
    color: #999;
    margin: 12px 0;
}